* {
    margin: 0;
    
}
header {
    height: 100vh;
    background-image: url("mike.png"), url("MikeEhr.webp"),url("mountain.webp");
    background-repeat: no-repeat, no-repeat, repeat;;
    background-position: bottom left, top right;
    background-size: 50% 50%, 50% 50%, 10% 10%;
    
    
}
